{% extends "base.html" %}

{% block content %}

<body>
    <div>
        <br>
        <b><u>Welcome to Rock, Paper, Scissors!</u></b>
        <br><br>
        <div style="color: #00D166;">
            Rock Paper Scissors (RPS) is a hand game usually played between two people. <br><br>
            Each player simultaneously forms one of three gestures with an outstretched hand. <br>
            <br>
            These gestures are "Rock", "Paper", and "Scissors".
            <br><br>
        </div>
    </div>

    <div>
        <br>
        <button id="play_button">
            <a href="/play">Play Now!</a>
        </button>
    </div>

</body>

{% endblock %}